@font-face {
    font-family: "NotoSans-Regular";
    src:url('//g.lazcdn.com/g/lzd/assets/1.2.13/font/EuclidCircularA-Regular.woff2') format('woff2');
    font-display: fallback;
}

body {
  font-family: NotoSans-Regular;
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 8px;
  background: #f60;
  background: linear-gradient(90deg,rgba(251, 116, 0, 1) 0%, rgba(249, 0, 157, 1) 100%);
}

h1 {
  text-align: center;
}

.container {
    display: flex;
    gap: 30px;
    padding: 20px;
    font-family: Arial;
}

.left-panel {
    position: relative;
    width: 200px;
}

#tableInput {
    width: 200px;
    padding: 6px;
}

.dropdown {
    border: 1px solid #ccc;
    max-height: 150px;
    overflow-y: auto;
    display: none;
    position: absolute;
    background: white;
    width: 200px;
    z-index: 99;
}

.dropdown div {
    padding: 6px;
    cursor: pointer;
}

.dropdown div:hover {
    background: #eee;
}

.right-panel {
    border: 1px solid #ccc;
    padding: 15px;
    width: 300px;
    min-height: 200px;
    background: #fafafa;
}

.right-panel input {
    width: 100%;
    padding: 6px;
    margin: 5px 0 10px 0;
}

#addBtn {
    width: 100%;
    padding: 10px;
    background: #2b7cff;
    border: none;
    color: white;
    cursor: pointer;
}

#addBtn:hover {
    background: #1b5fd0;
}